html 
    head 
        title='Plantilla con Pug'
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" 
             rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
             crossorigin="anonymous"
        )
        style 
            include style.css
    body
        include ../partials/form.pug 

        if listExist 
            h2(class="textCenter")= "Lista de Productos"
            div(class="container col-4 align-center")
                table(class="table")
                    thead
                        tr
                            th Titulo: 
                            th Precio:
                            th Miniatura:
                    tbody
                        each prod in productos
                            tr
                                td= prod.title
                                td= prod.price
                                td
                                    img(src=prod.thumbnail class="widthMiniatura heightMiniatura")
        else
            h2(class="textCenter") No hay productos
                
include ../partials/footer.pug