{{> form }}

    {{#if listExist}}
        <h2 class="text-center">
            {{mensaje}}
        </h2>
        <div class="container col-4">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Titulo:</th>
                        <th scope="col">Precio:</th>
                        <th scope="col">Miniatura:</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each list}}  
                        <tr>
                            <td>
                                {{title}} 
                            </td>
                            <td>
                                $ {{price}} 
                            </td>
                            <td>
                                <img src={{thumbnail}} width="50" height="50">
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    {{else }}
        <h2 class="text-center">No hay Productos</h2>
    {{/if}}


{{> footer }}


